<?xml version='1.0' encoding='utf-8'?>
<plugin id="helloPlugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>helloPlugin</name><js-module name="helloPlugin" src="www/helloPlugin.js"><clobbers target="cordova.plugins.helloPlugin" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="helloPlugin"><param name="android-package" value="helloPlugin.helloPlugin" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/helloPlugin.java" target-dir="src/helloPlugin/helloPlugin" /></platform></plugin>